body {
    max-width: 700px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-color: #ddd;
}

header,
footer {
    padding: 1rem;
    color: white;
    background-color: #92d473;
    text-align: center;
    margin-top: 20px;
}

main img {
    width: 500px;
    height: auto;
    border: 1px solid darkblue;
    padding: 2rem;
    box-shadow: #92d473;

}

main {
    max-width: 700px;
    padding: 0.5rem;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(179, 195, 226);
    color: darkblue;

}

aside img {
    width: 500px;
    height: auto;
    border: 1px solid darkblue;

}

aside {
    margin: 0.6rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 2rem;
    color: darkblue;
}

p {
    padding: 0;
}

picture img {
    width: 100%;
    height: auto;
}

h1 {
    text-align: center;
    color: darkblue;
    border-bottom: 2px solid darkblue;
    padding-bottom: 0.8mm;
}

section {
    margin-top: 20px;
    padding: 15px;
    border: 2px solid #ccc;
}

h2 {
    color: yellowgreen;
}

li {
    margin-bottom: 2px;
}